# Install Library

In [1]:
#!pip install psycopg2-binary
#!pip install python-dotenv

In [2]:
# Import Library
import psycopg2
import os
from dotenv import load_dotenv, find_dotenv

In [3]:
# Load .env
load_dotenv(find_dotenv())

True

# Connect to Postgre
Create a new database session and return a new connection object. The basic connection parameters are:

- dbname – the database name (database is a deprecated alias)
- user – user name used to authenticate
- password – password used to authenticate
- host – database host address (defaults to UNIX socket if not provided)
- port – connection port number (defaults to 5432 if not provided)

In [4]:
# conn stand for connection
conn = psycopg2.connect(
    dbname = "Psycopg",
    user = os.getenv("DATABASE_USERNAME"),
    password = os.getenv("DATABASE_PASSWORD"),
    host = os.getenv("DATABASE_HOST"),
    port = os.getenv("DATABASE_PORT")
)

# Create Cursor
Allows Python code to execute PostgreSQL command in a database session. Cursors are created by the connection.cursor() method: they are bound to the connection for the entire lifetime and all the commands are executed in the context of the database session wrapped by the connection. Cursor Method are:

- execute <br>
    DML, dan DDL yang outputnya cuma 1
- executemany<br>
    DML, dan DDL yang outputnya cuma tergantung n
- fetchone<br>
    read data dan menampilkan 1 hasil
- fetchmany<br>
    read data dan menampilkan n hasil
- fetchall<br>
    read data dan menampilkan semua hasil

In [5]:
cur = conn.cursor()

# Create table on selected Database

In [23]:
cur.execute('''
    CREATE TABLE regions(
        region_id INT PRIMARY KEY,
        region_name VARCHAR(50)
    );
'''
)

conn.commit()

# Insert Data

In [34]:
cur.execute(
    '''
    INSERT INTO regions(region_id, region_name)
    VALUES (3, 'Europe')
    '''
)

conn.commit()

# Read Data
Read data ada 2 cara 
- fetch
- pandas_read_sql_query

## Fetch

In [10]:
#Fetchone
cur.execute("SELECT * FROM regions;")

#Print syntax result 1 result
cur.fetchone()

(2, 'Australia')

In [15]:
#Fetch Many
cur.execute("SELECT * FROM regions;")

cur.fetchmany(2)

[(2, 'Australia'), (1, 'Asia')]

In [30]:
#Fetch All
cur.execute("SELECT * FROM regions;")

cur.fetchall()

[(1, 'Asia'), (3, 'Europe'), (2, 'Asia Pacific')]

## Pandas

In [ ]:
#Install Library
!pip install pandas

In [21]:
#Import Library
import pandas as pdb

In [28]:
show_region_by_id_desc = pd.read_sql_query('''
    SELECT
        *
    FROM
        regions
    ORDER BY region_id DESC;
''', conn)

C:\Users\Umar Syam\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [29]:
show_region_by_id_desc

   region_id   region_name
0          3        Europe
1          2  Asia Pacific
2          1          Asia

# Update Data

In [27]:
cur.execute("""
    UPDATE regions
    SET region_name = 'Asia Pacific'
    WHERE region_id = 2
""")

In [36]:
#Fetch All
cur.execute("SELECT * FROM regions;")

cur.fetchall()

[(1, 'Asia'), (2, 'Asia Pacific'), (3, 'Europe')]

# Delete Data

In [37]:
cur.execute('''
    DELETE FROM regions
    WHERE region_name = 'Europe';
''')

In [38]:
#Fetch All
cur.execute("SELECT * FROM regions;")

cur.fetchall()

[(1, 'Asia'), (2, 'Asia Pacific')]

In [ ]:
# Close Connection
cur.close()
conn.close()